
#divRss {
    width:450px;
    padding: 0px 3px 3px 5px;
	background-color:#FFF;
	border:1px solid #D3CAD7;
	margin-top:3px;
}

.ItemTitle{
 font-weight:bold;
 margin:5px 0px 0px 0px;
 padding-top:3px;
}
.ItemTitle a{ color:#4EBAFF; text-decoration:none }
.ItemTitle a:hover{ text-decoration:underline }

.ItemContent{
 padding:1px 3px 3px 3px;
 border-bottom:1px solid #D3CAD7;
 color:#3E3E3E;
}
.ItemDate{
font-size:11px;
color:#AAA;
}